* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.logo p {
  margin-left: 10px;
  color: MediumAquamarine;
}

.news {
  text-decoration: underline;
  margin: 20px;
}
  .column {
    display: inline-flex;
    justify-content: flex-start;
    margin: 40px;
}

.large {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
  padding-bottom: 50px;
}

.medium {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  margin: 20px 40px 0 40px;
}

.small {
  display: inline-flex;
  flex-direction: column;
  width: 240px;
}

#image {
  background-image: url(../images/img-story-main-drinks.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#earth {
  background-image: url(../images/img-story-1.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
  margin-top: 65px;
}

#cat {
  background-image: url(../images/img-story-1-cat.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#camera {
  background-image: url(../images/img-story-3-cameraman.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
  margin-top: 65px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 20px;
}

.rows {
  display: inline-flex;
  width: 630px;
  margin-top: 50px;
}
 #right-title {
   font-size: 16px;
   text-align: center;
 }

.small p {
  margin-bottom: 50px;
}

.headlines {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 325px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
 margin: auto;
 font-family: Verdana;
}

footer a {
  font-size: 12px;
}

#copyright {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.copylogo p {
  font-size: 12px;
}
